{
  "openapi": "3.0.0",
  "info": {
    "title": "Dentiva Enterprise API",
    "description": "Public API for third-party integrations, mobile apps, and AI services. (Read Only MVP)",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.dentiva.com/v1",
      "description": "Production Server"
    }
  ],
  "paths": {
    "/patients": {
      "get": {
        "summary": "Get all patients",
        "description": "Retrieves a list of patients associated with the authenticated clinic.",
        "security": [
          { "BearerAuth": [] }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "string", "format": "uuid" },
                          "rekam_medis": { "type": "string" },
                          "nama": { "type": "string" }
                        }
                      }
                    },
                    "message": { "type": "string" },
                    "timestamp": { "type": "string", "format": "date-time" },
                    "version": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}
