{
  "openapi": "3.0.0",
  "info": {
    "title": "Dentiva Enterprise API",
    "description": "Public API for third-party integrations, mobile apps, and AI services. (Read Only MVP)",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.dentiva.com/v1",
      "description": "Production Server"
    }
  ],
  "paths": {
    "/patients": {
      "get": {
        "summary": "Get all patients (DEPRECATED & DISABLED)",
        "description": "Retrieves a list of patients associated with the authenticated clinic. This endpoint is disabled for security reasons.",
        "deprecated": true,
        "security": [
          { "BearerAuth": [] }
        ],
        "responses": {
          "410": {
            "description": "Gone - Endpoint has been disabled",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": false },
                    "error": { "type": "string", "example": "Gone" },
                    "message": { "type": "string" },
                    "code": { "type": "string" },
                    "timestamp": { "type": "string", "format": "date-time" },
                    "version": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}
